*{
    padding: 0;
    margin: 0;
    justify-content: center
}
body{
    display: flex;
    margin-top: 70px;
    border: 0;
    padding 1px;
}

.left li{
position: relative;
left: 1px;
 top: 6px;
width: 190px;
padding: 4px;
}
ul li {
padding: 4px;
list-style: none;
border: 0.5px solid black;
width: 190px;
text-align: center;
}
.change{
    transition: transform 1s;
}
.change:hover  {
background-color: red;
transform: scale(1.5);
}

#premium,#gold,#silver{
    background-color: rgb(190, 182, 182);
    color: white;
}

.change:hover    {
   background-color: rgb(255, 255, 255);
 color: black;
    }

.change:first-child:hover{
    background-color: rgb(143, 143, 143)




}
.change:last-child:hover{
    background-color: rgb(143, 143, 143)
}
.left{
        position: relative;
        top: 23px;
        left: -1;
    }
#gold{
    color: gold;
}    