body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: blueviolet;
    height: 35px;
}
header h1{
    color: white;
}
.zone_1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 25px;
}
.navbar ul{
    list-style-type: none;
}
.navbar li{
    background-color:rgb(0, 184, 184);
    color: white;
    padding: 8px;
    margin-bottom: 7px;
}
.col-3{
    width: 25%;
}
.centre{
    padding: 20px;
}
.centre h2{
    padding: 15px;
}
.aside{
    background-color: rgb(0, 184, 184);
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 25px;
}
.zone_2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

}
img{
    width: 100%;
}
[class*="col-"]{
    /*  pn va sélectionner toues les classes qui  ont un préfixe col-  */
    padding: 15px;
}
footer{
    background-color: blue ;
    color: white;
    height: 60px;
    padding: 25px;
}
*{
    box-sizing: border-box;
}
@media screen and (max-width:768px) {
    .zone_1{
       flex-wrap: wrap;
    }
    .col-3, .col-6{
        width: 100%;
    }
    header{
        background-color: rgb(226, 43, 43);
    }
    .img{
        width: 50%;
    }
    .aside{
        background-color: rgb(0, 0, 0);
    }
 .navbar li{
         background-color:rgb(0, 0, 0);

}
}