body{
    font-family:  sans-serif;
    font-size: 1.5em;
}
ul{
    /* sélection tous les listes <ul> */
    list-style: none;  
     /* supprimer les puce des listes */
    float: left;     
    /* effet flotant a gauche */
    margin: 0;
    /* marge extérieure */
    padding: 0;
    /* marge interieure */

}
.left{
    margin-top: 5em;

}
.left ul {
    margin: 3.2em 0 0 0;
}
.left ul li{  
    /* sélectionne tous les <li> de la liste <ul> ayant la class left */
  border-bottom: 1px solid  #ccc;
  border-left: 1px solid #ccc;
  padding: 1em;
  width: 10em;
}
.left ul li:first-child{
    /* permer <li> de la liste <ul> ayant la class left */
    border-top: 1px solid #ccc ;
}
.liste li{
    border-left: 1px solid #ccc ;

}
.right .change ul li{
    /* tous les <li> de la liste <ul> ayant la class . change elle meme enfants de la class right */
    border-top: 1px solid #ccc ;
    border-right:1px solid #ccc ;
    width: 10em;
    text-align: center;
    padding: 1em;
}
.right .change ul li:last-child{
    /* le dernier <li> de la liste <ul> ayant la class . change elle meme enfants de la class right */
    border-bottom: 1px solid #ccc;
}
.right .change ul li:first-child{
     /* le premier <li> de la liste <ul> ayant la class . change elle meme enfants de la class right */
    background-color: rgb(131, 119, 175);
    color: white;
    font-weight: bold;
}
/* effet de transition au survol de la sourie */

.right .change ul:hover{
/* au survol de la souri onselectione la liste <ul> ayant la class . chane elle méme enfant de la class .rigth */
 
    background:linear-gradient(#d5d5d5,#8a8a8a);
    /* degrer de la couleur */
    transition-duration: 2s;
    /* durée de leffet de transition */
    cursor: pointer;
    /* changement de l'afffiche du curser */
    transform: scale(1.4);
    /* l'echelle de zoom  */
}
.change:hover #prmium{
    color: rgb(0, 8, 255);
}
.change:hover #gold{
    color: gold;
}
.change:hover #selver{
    color: rgb(0, 8, 255);
}
.change li:hover{
    color: rgb(255, 0, 0);
}
iframe{
   flex-direction: column;
  
}
