*{
    text-align: right;
}
body{
    background: rgba(255, 166, 0, 0.829);
}
header {
    /* fond du header */
    background-color: blue;
       /* couleur du text  */
    color: blanchedalmond;
     /* heuteur du header */
    height: 100px;
}
nav{
    background: rgb(0, 255, 51);
    height: 60px;
}
section{
    background-color: red;
    height: 550px;
}
article{
    background-color: aqua;
    height: 70px;
}
footer{
    background-color: rgb(46, 139, 0);
    height: 40px;
}
nav,footer{
    color: beige;
}
.jaune{
    background-color: yellow;
}
.text{
    text-align: right;
}  
#bleu{
    color: blue;
    font-size: 25px;
}
