body{

    text-align: center;
    border-radius: 50%;
    background-image: url(https://img.freepik.com/photos-gratuite/plage-tropicale_74190-188.jpg?w=1380&t=st=1686216444~exp=1686217044~hmac=1e70b049779d8f459a74f136b4052f94af5eb49a46adf093eb402fa262b94356);
    background-size: cover;

}



