body{
    width: 960px;
    background-color: paleturquoise;
    color: white;
    margin: 0 auto;
}
header{
    background-color: tan;
    height: 60px;
    text-align: center;
}
nav{
    background-color: grey;
    height: 30px;
    text-align: center;
}
section{
    height: 500px;
    background-color: gray;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;

}
.GZ{
    border: 1px solid black;
    height: 248px;
    width: 468px;
    display: flex;
    flex-wrap: wrap;

}
.PZ{
    border: 1px solid;
    height: 122px;
    width: 232px;
    text-align: center;
}
.couleur_1{
    background: peachpuff;
}

.couleur_2{
    background: #7a9eb1;
}

.couleur_3{
    background: #415865;
}

.couleur_4{
    background: #ffe1b3;
}
footer{
    background-color: silver;
    height: 70px;
    width: 70px;
    text-align: center;
}