*{
  box-sizing: border-box;
}
header{
    background-color: blueviolet;
    height: 40px;
    width: 186%;
}

ul{
    
    background-color: aqua;
    height:205px;
    width: 500px;
    border: 1px solid aqua;
    list-style: none;  
    float: left;    
    margin: 1;
    padding: 0;

}
li{  

  border-bottom: 6px solid rgb(255, 255, 255);
  padding:3.5%;
  width: auto;
}
.col-6 , .center{
   
    margin: auto;
    height:233px ;
    width: 504px;
    border: 1px solid transparent;
}
.col-3 ,.aside{
    
    margin: 4em;
    background-color: aqua;
    height: 233px;
    width: 504px;
    border: 1px solid transparent;
}
section{
    display: flex;
    justify-content: space-around;
    width: 100vw;
   

}
.zone_2{
    margin-top: 20px;
    display: flex;
    width: 10vx;
    height: 800px;
    padding: 10px;
}
.img{
 width: 100%;
}
footer{
    color: wheat;
    background-color: black;
    height: 104px;
     

}



